nav {
    background-color: #2b3a42;
    /* Custom background color */
    padding: 1rem;
    /* Padding rule */
}

nav a {
    color: #ffffff;

    padding: 0.5rem 1rem;
    /* Padding rule */
    display: block;

}

main {
    max-width: 840px;

}

h1 {
    color: #2b3a42;
    /* Color declaration */
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Box-shadow declaration */
}

aside {
    width: 20rem;
    margin: 1rem;
    /* Margin declaration */
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
    /* Aspect ratio control height */
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}